<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="layui/css/layui.css">
    <script src="layui/layui.all.js"></script>
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/index.js"></script>

</head>
<body>
<div class="layui-form-item">
    <label class="layui-form-label">用户姓名</label>
    <div class="layui-input-block">
        <input type="text" id="userName" name="name" lay-verify="title" autocomplete="off" placeholder="请输入用户姓名" class="layui-input">
    </div>
</div>
<div class="layui-form-item">
    <label class="layui-form-label">用户邮箱</label>
    <div class="layui-input-block">
        <input type="text" id="userEmail" name="email" placeholder="请输入用户邮箱" autocomplete="off" class="layui-input">
    </div>
</div>
<div class="layui-form-item">
    <label class="layui-form-label">用户联系电话</label>
    <div class="layui-input-block">
        <input type="text" id="userPhone" name="phone" placeholder="请输入用户联系电话" autocomplete="off" class="layui-input">
    </div>
</div>
<div class="layui-form-item">
    <label class="layui-form-label">用户密码</label>
    <div class="layui-input-block">
        <input type="text" id="userPswd" name="pswd" placeholder="请输入用户密码" autocomplete="off" class="layui-input">
    </div>
</div>
<div class="layui-form-item">
    <label class="layui-form-label">余额</label>
    <div class="layui-input-block">
        <input type="text" name="balance" placeholder="请输入余额" autocomplete="off" class="layui-input">
    </div>
</div>



</body>
</html>